{extend name="public/base" /}
 

{block name="body"}
    <script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>{$meta_title}</h2>
	</div>
	<form action="{:url()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips">（口子资讯标题）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$row.title}">
            </div>
        </div>  
        <div class="form-item">
            <label class="item-label">图片 <span class="red">*</span> <span class="check-tips">（建议大小：640*300像素）</span></label>
            <div class="controls"> 
                <input type="file" id="upload_picture_img">
                <input type="hidden" name="img" id="cover_id_img" value="{$row.img}" />
                <div class="upload-img-box">
                    {notempty name="$row.img"}
                        <div class="upload-pre-item"><img src="{$row.img|get_cover='path'}"/></div>
                    {/notempty}
                </div> 
                <script type="text/javascript">
                //上传图片
                /* 初始化上传插件 */
                $("#upload_picture_img").uploadify({
                    "height"          : 30,
                    "swf"             : "__PUBLIC__/static/uploadify/uploadify.swf",
                    "fileObjName"     : "download",
                    "buttonText"      : "上传图片",
                    "uploader"        : "{:url('File/uploadPicture',array('session_id'=>session_id()))}",
                    "width"           : 120,
                    'removeTimeout'   : 1,
                    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
                    "onUploadSuccess" : uploadPictureimg,
                    'onFallback' : function() {
                        alert('未检测到兼容版本的Flash.');
                    }
                });
                function uploadPictureimg(file, data){
                    var data = $.parseJSON(data);
                    var src = '';
                    if(data.status){
                        $("#cover_id_img").val(data.id);
                        src = data.url || '__ROOT__' + data.path
                        $("#cover_id_img").parent().find('.upload-img-box').html(
                            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                        );
                    } else {
                        updateAlert(data.info);
                        setTimeout(function(){
                            $('#top-alert').find('button').click();
                            $(that).removeClass('disabled').prop('disabled',false);
                        },1500);
                    }
                }
                </script> 
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">资讯内容<span class="check-tips">（口子资讯详情）</span></label>
            <div class="controls">
                <textarea name="contents">{$row.contents}</textarea>
                {:hook('adminArticleEdit', array('name'=>'contents','value'=>$row['contents']))}
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（从小到大排序）</span></label>
            <div class="controls">
                <input type="text" class="text wd80" name="rate" value="{$row.rise}">
            </div>
        </div> 
        <div class="form-item">
        	<input type="hidden" name="id" value="{$row.id}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">更 新</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}

<script type="text/javascript">
highlight_subnav('{:url('Article/index')}');
</script>
{/block}
