{extend name="public/base" /}



{block name="body"}
	<!-- 标题 -->
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
 
	 <div class="tools auth-botton">
        <a href="{:url('article/add')}" class="btn">新 增</a>
    </div>

	<!-- 数据表格 -->
    <div class="data-table">
		<table>
            <!-- 表头 -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>排序</th>
                    <th>发表时间</th>
                    <th>操作</th>
                </tr>
            </thead>
 
            <tbody>
                {volist name="list" id="data"}
                    <tr>
                    	<td>{$data.id}</td>
                    	<td>{$data.title}</td>
                    	<td>{$data.rise}</td>
                    	<td>{$data.create_time}</td>
                    	<td>
                    		<a href="{:url('article/edit',['id'=>$data.id])}">编辑</a> |
                            <a data-url="{:url('Article/changeStatus')}" data-type="delete" data-obj="document" data-id="{$data.id}"  class="statusBtn" data-confirm='1' title="确定删除吗？" href="javascript:" >删除</a>
                    	</td>
                    </tr>
                {/volist}
            </tbody>
        </table>
	</div>
	<!-- 分页 -->
    <div class="page">
        {$page}
    </div>
</div>

{/block} 
