{extend name="public/base" /}
{block name="body"}
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>
	<div class="cf">  
		<div class="search-form ">
			<div class="sleft">
				<input type="text" name="wd" class="search-input" value="{:input('wd')}" placeholder="关键字搜索"> 
			</div>
			<div class="fl">
				{$typeSelect}
			</div>
			<div class="fl search-txt">
				注册时间：
			</div>
			<div class="sleft">
				<input type="text" name="sdate" id="sdate" class="search-input laydate-icon wd150" value="{:input('sdate')}" placeholder="开始时间"> 
			</div>
			<div class="fl search-line">-</div>
			<div class="sleft">
				<input type="text" name="edate" id="edate" class="search-input laydate-icon wd150" value="{:input('edate')}" placeholder="结束时间"> 
			</div>
            <div class="fl">
                <span class="wd10"></span>
                注册来源: {$codeSelect}
            </div>
			<div class="f">
				<a class="sch-btn" href="javascript:;" id="search" url="{:url('index')}">搜索</a>
            	<button class="btn export" url="{$exportUrl}" target-form="ids">导出</button>
			</div>
			
		</div>

<!-- 		<div class="cls pad_top_5">
            <button class="btn ajax-post" url="{:url('changeStatus?method=resumeUser')}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:url('changeStatus?method=forbidUser')}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm" url="{:url('changeStatus?method=deleteUser')}" target-form="ids">删 除</button>
        </div> -->

    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<!-- <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th> -->
		<th style="text-align: center;" width="50">编号</th>
		<th class="">会员名</th>
			<th class="">姓名</th>
            <th class="">身份证</th>
		<th class="">手机</th>
		<th class="">推荐人</th>
		<th class="">状态</th>
		<th class="">小树黑名单</th>
		<th class="">网贷黑名单</th>
		<th class="">注册时间</th>
            <th class="">注册来源</th>
		<th class="" width="150">操作</th> 
		</tr>
    </thead>
    <tbody>
		{notempty name="_list"}
		{volist name="_list" id="vo"}
		<tr>
            <!-- <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td> -->
			<td align="center">{$vo.id} </td>
			<td>{$vo.nickname}</td>
			<td>{$vo.truename}</td>
            <td>{$vo.id_card}</td>
			<td>{$vo.mobile}</td>
			<td>{$vo.true_rec_name|default="-"}</td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="javascript:" data-url="{:url('Member/changeStatus')}" data-obj="user" data-type="xsblack" data-id="{$vo.id}" class="statusBtn">标记</a>
			</td>
			<td>
				<a href="javascript:" data-url="{:url('Member/changeStatus')}" data-obj="user" data-type="wdblack" data-id="{$vo.id}" class="statusBtn">标记</a>
			</td>
			<td>{$vo.reg_time}</td>
            <td>{$vo.code_name}</td>
			<td>
				{eq name="vo.status" value="1"}
				<a href="javascript:" data-url="{:url('Member/changeStatus')}" data-obj="user" data-type="forbid" data-id="{$vo.id}" class="statusBtn">禁用</a>
				{else/}
				<a href="javascript:" data-url="{:url('Member/changeStatus')}" data-obj="user"  data-type="resume" data-id="{$vo.id}"  class="statusBtn">启用</a>
				{/eq}  |
				<a href="{:url('Member/edit?id='.$vo['id'])}" class="authorize">编辑</a> |
                <a data-url="{:url('Member/changeStatus')}" data-type="delete" data-obj="user" data-id="{$vo.id}"  class="statusBtn" data-confirm='1' title="确定删除该用户吗？" href="javascript:" >删除</a>
            </td>
		</tr>
		{/volist}
		{else/}
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		{/notempty}
	</tbody>
    </table>
	</div>

	<div>
		共{$_num}条记录
		<div class="page fr">
	        {$_page}
	    </div>
	</div>
    
{/block}

{block name="script"}
	<script type="text/javascript" src="/static/static/laydate/laydate.js"></script>
<script src="__PUBLIC__/static/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var type = $("#type").find("option:selected").val();
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url+"&type="+type;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:url('Member/index')}');
    laydate({
	  elem: '#sdate', 
	  event: 'focus' 
	});
	laydate({
	  elem: '#edate',
	  event: 'focus' 
	});
    $("#code").change(function(event) {
        var val = $(this).val();
        var name = $(this).attr('name');
        var url = window.location.href;
        if(url.indexOf('?')>0 ){
            url += '&' + name+"="+val;
        }else{
            url += '?' + name+"="+val;
        }
        window.location.href = url;
    });
	</script>
{/block}
