{extend name="base/common"/}

 
{block name="body"} 
<div class="helpPage">
    <h2 class="ti">常见问题</h2>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">1、如何申请贷款？</a>
            <div class="mui-collapse-content">
                <p>直接登录网址http://www.xsgolds.com进行借款，你可以根据自己的需求和资质结合我们的贷款分类选择适合自己的产品，并根据此贷款产品的要求填完资料并提交申请。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">2、如何提高贷款成功率？</a>
            <div class="mui-collapse-content">
                <p>请你结合自己的资质正确的选择我们为您准备的贷款分类并仔细阅读我们准备的海量攻略可大大提高成功率。
(PS:数据表明,申请多个产品，可大幅提高贷款成功率；您可以尝试同时申请几个贷款产品。)</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">3、审核通过后，从确认到放款需多长时间？</a>
            <div class="mui-collapse-content">
                <p>如果你已通过审批，从确认到放款时间为1个小时到3个工作日。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">4、为何审批下来的金额与申请的信息不一致？</a>
            <div class="mui-collapse-content">
                <p>信贷机构会根据您的个人资料，并参考你的借款信息进行综合评估得出审批结果，最终放款额将将已信贷机构给出的确认批复为准，如果未能满足您的资金需求，建议多申请几笔其他产品作为备用金。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">5、入驻的贷款平台，利息多少？额度多少？</a>
            <div class="mui-collapse-content">
                <p>“小树Golds”众多贷款产品，利息各不相同，一般参考月利率为1%—1.5%，建议在申请是查看产品详情介绍。特别提醒您，信贷机构会根据您的个人资质给出最终利率定价，请以放款前的确认信息为准。 
(PS:“小树Golds”众多贷款产品，额度一般在500-10万；你可以根据自身的资金需求自主申请。)</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">6、贷款后如何还款？</a>
            <div class="mui-collapse-content">
                <p>根据贷款产品所属机构不同，还款方式也可能不同。机构放款前会与您确认，请关注确认信息，如果还有疑问，可以直接致电相应的贷款机构。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">7、为什么我的申请没有通过审核？</a>
            <div class="mui-collapse-content">
                <p>每家信贷机构的审批侧重点和风控政策都各不相同。所以请您不要气馁，我们建议您多申请几家不同的机构，会提高审批通过率。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">8、是否可以注销我的账户?</a>
            <div class="mui-collapse-content">
                <p>我们暂时不提供“注销账户”的服务，您所填的个人信息将在“小树Golds”得到严密的隐私保护，你的资料仅用于提交申请信息。</p>
            </div>
        </li>
        <li class="mui-table-view-cell mui-collapse">
            <a class="mui-navigate-right" href="javascipt:void(0)">9、什么是个人征信？</a>
            <div class="mui-collapse-content">
                <p>个人征信是由您的个人信息、多维度的履约历史和行为记录等数据整合而形成的信用档案，这份档案将成为大部分贷款的重要审审批依据。良好的信息是无价的财富！请真爱个人信用。</p>
            </div>
        </li>
    </ul>
</div>
{/block}
