{extend name="public/base" /}

{block name="body"}
    <script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form id="form" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">用户ID <span class="red">*</span></label>
            <div class="controls">
                <input id = "userId" type="text" class="text" name="userId" value="{$row['userId']}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">配置链接：<span class="red">*</span> </label>
            <div class="controls">
                <textarea id="link" class="textarea" style="width: 220px;height: 100px" name="link">{$row['link']}</textarea>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips">（禁用则不显示）</span></label>
            <div class="controls">
                {$statusRadio}
            </div>
        </div>

        <div class="form-item mar_top_10">
            <button class="btn submit-btn" type="submit" target-form="form-horizontal">更新</button>
            <button class="btn btn-return" type="reset">重置</button>
        </div>
    </form>
    <script type="text/javascript">
    $(function(){
        $("#userId").bind('input porpertychange',function(){
            var data = $("#userId").val();
            var status = $('input[name="status"]:checked').val();
            jQuery.ajax({ //发送请求
                type: 'post',
                url : '{:url('/admin/web/check_credit_link')}',
                dataType:'json',
                async: true,
                data: {
                    userId:data,
                    status:status
                },
                success: function(rs){
                    $('#link').val(rs.data.link)
                    var isAutoSend = document.getElementsByName('status');
                    for (var i = 0; i < isAutoSend.length; i++) {
                        if (isAutoSend[i].checked == true) {
                            isAutoSend[i].checked = false;
                        }
                        if (rs.data.status == isAutoSend[i].value)
                        {
                            isAutoSend[i].checked = true;
                        }
                    }
                },
                error:function() {
                    console.log("1");
                }
            });
        })
    });
</script>
{/block}
