{extend name="public/base" /}

{block name="body"}
    <script type="text/javascript" src="__PUBLIC__/static/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:url()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">机构编号<span class="red"></span><span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="id" name = "id" value="" ONBLUR="check_merchant_id()" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">机构名称<span class="red"></span> <span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text" id="merchant_name" value="" disabled="disabled">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">推荐内容<span class="red"></span> <span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text" name="txt" value="" >
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（从小到大排序，越小越靠前）</span></label>
            <div class="controls">
                <input type="text" class="text" name="rise" value="100">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips">（禁用则不显示）</span></label>
            <div class="controls">
                {$statusRadio}
            </div>
        </div>
        <div class="form-item mar_top_10">
            <button class="btn submit-btn" id="submit" type="submit" onclick="merchant_add()" >确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:url('Web/merchantAdd')}');

        function merchant_add(){
            var merchant_id = parseInt(document.getElementById("id").value);
            if(merchant_id == 0 || isNaN(merchant_id) || typeof(merchant_id)=="undefined"){
                alert('请输入机构编号');
                return;
            }
            var check_url = '{:url('Web/merchantAdd')}';
            $.ajax({
			   type: "POST",
			   url: check_url+"?mid="+merchant_id,
			   dataType: 'json',
			   async: false,
               contentType: "application/json; charset=utf-8", 
               data: JSON.stringify({id: merchantId}), 
			   success: function(data){
                console.log("data: " + data);
                    var obj = eval('(' + data + ')');
                    if(obj.code == 0){
                        document.getElementById("id").value = obj.id;
                        document.getElementById("merchant_name").value = obj.name;
                    }else{
                        alert(obj.error);
                    }
			   }
			});
        }

        function check_merchant_id(){
            var merchant_id = parseInt(document.getElementById("id").value);
            if(merchant_id == 0 || isNaN(merchant_id) || typeof(merchant_id)=="undefined"){
                alert('请输入机构编号');
                return;
            }
            var check_url = '{:url('Web/checkMerchantId')}';
            //提交
			$.ajax({
			   type: "GET",
			   url: check_url+"?mid="+merchant_id,
			   dataType: 'json',
			   async: false,
               contentType: "application/json; charset=utf-8", 
               //data: JSON.stringify({mid: merchantId}), 
			   success: function(data){
                    var obj = eval('(' + data + ')');
                    if(obj.code == 0){
                        document.getElementById("id").value = obj.id;
                        document.getElementById("merchant_name").value = obj.name;
                    }else{
                        alert(obj.error);
                    }
			   }
			});
        }
    </script>
{/block}
