{extend name="public/base" /}

{block name="body"}
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
     <form action="" method="POST" class="form-horizontal" id="form">
        <div class="form-item">
            <label class="item-label">名称 <span class="red">*</span><span class="check-tips">（例如：快速放款）</span></label>
            <div class="controls">
                <input type="text" class="text" name="name" value="{$row.name}">
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">属性归属 <span class="red">*</span><span class="check-tips">（主要是添加机构选项）</span></label>
            <div class="controls">{$typeRadio}</div>
        </div>
        <div class="form-item mar_top_10"> 
            <input type="hidden" name="id" value="{$row.id}">
            <button type="button" id="submit" data-url="{:url()}" class="btn submit-btn" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}
    <script type="text/javascript">
        highlight_subnav('{:url('Merchant/zuanti')}');
    </script>
{/block}
