<!DOCTYPE html>
<html>
<head>
	<title>卡树</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/kashu/css/base.css">
	<link rel="dns-prefetch" href="//xyk.cebbank.com">
	<link rel="dns-prefetch" href="//c.pingan.com">
	<!-- <link rel="dns-prefetch" href="//ecentre.spdbccc.com.cn"> -->
	<link rel="dns-prefetch" href="//creditcardapp.bankcomm.com">
	<link rel="dns-prefetch" href="//ccshop.cib.com.cn">
	<link rel="dns-prefetch" href="//www.citibank.com.cn">
	<style type="text/css">
		html,body{font-size:14px; font-size: 3.3816vw;}
		.w100{width:100%;}
		.wrap{margin: 0 1rem;}
		.card-list >li > a {display: block;position: relative; padding: 0.8rem 0.5rem;margin-bottom: 0.8rem;background-color: #fff;border-radius: 2px;box-shadow: 0px 0 3px #ccc;overflow: hidden;}
		.card-list >li > a:active{opacity: 0.8;}
		.card-list >li > a .bank-card-tag{position: absolute;background-color: #3cc5ad;color:#fff;font-size: 0.8rem;display: block;width:5rem;height:4rem;text-align: center;line-height: 6.6rem;
			transform: rotateZ(-45deg);
			left:-2.5rem;
			top: -2rem;
		}
		.card-list >li > a .bank-ico{width: 3.5rem;}
		.card-list >li > a .bank-card-info{display: inline-block;margin-left: 0.3rem;line-height: 1.5rem;}
		.card-list >li > a .bank-card-info > .bank-card-name{font-size: 1.2rem;}
		.card-list >li > a .bank-card-info > .bank-card-desc{color: #999;font-size: 1rem;}
		.card-list >li > a .bank-card-info > .recommend-ico{display: none;width: 2.5rem;}
	</style>
</head>
<body>
	<div class="banner">
		<img class="w100" src="__PUBLIC__/kashu/images/index_cards/banner.png">
	</div>
	<div class="wrap">
		<div style="display: none;">
			<a href="https://xyk.cebbank.com/cebmms/apply/ps/card-list.htm?level=124&pro_code=FHTG120000SJ09XMKB"></a>
			<a href="https://c.pingan.com/apply/public/newApplyCard.do?scc=920000293&show=0"></a>
			<!-- <a href="https://ecentre.spdbccc.com.cn/creditcard/indexActivity.htm?data=P1513243"></a> -->
			<a href="https://creditcardapp.bankcomm.com/applynew/front/apply/track/record.html?trackCode=A052313593614"></a>
			<a href="https://ccshop.cib.com.cn:8010/application/cardapp/cappl/ApplyCard/toSelectCard?id=ebe4b25c67ac4b689eb3f41fdb94031b"></a>
			<a href="https://www.citibank.com.cn/sim/ICARD/RCE/index.html?ecid=AFBBMCNCCACNAP04"></a>
		</div>
		<label style="font-size:1.2rem;line-height: 3rem;color: #999;">精选卡</label>
		<ul class="card-list">

		<li>
				<a data-id="2" data-href="https://creditcard.cmbc.com.cn/wsv2/?enstr=WvSEDR0VmTdFvp%2b7MqITqN1Z9th3yIOK%2fQvjljuYXFGotF1SO9SsAiI4lRqYHA5xVePDxV%2fK4Je7cGae5gBVopsu%2bWCpE9MRrXdqPB68vJcqs6%2ffGZsG104X9mhzjJy5sy7mIt4GSsvECdHOgnFeoNNYPhSdy8lnaI7GabeTuN6u%2fUm%2bL3EtJ%2bLhYqNjGX1B0NstkAQ4Z1kZEbCZOjxNUEfgfh04Kc87LVVUt4RRnRKkyRa2PYG972X3uy28mIb9bWIdWI0YpFohpTHrq5G69RdDCbPaiehjfaMmCqmLyG9p84mSTVAycQ0rJQRXomUatsDckNFTZpCPLKw2BPkGhg%3d%3d">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="__PUBLIC__/kashu/images/index_cards/minsheng_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">民生银行</span><br>
						<span class="bank-card-desc vm">强强强烈推荐：60秒出结果，急速发卡！</span>
						<img class="recommend-ico vm" src="__PUBLIC__/kashu/images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>

<!-- 			<li>
				<a data-id="2" data-href="/b/gdyh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/guangda_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">光大银行</span><br>
						<span class="bank-card-desc vm">在线申请，急速批卡，10元吃喝玩乐，满立减！</span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>
			<li>
				<a data-id="3" data-href="/b/payh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/pingan_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">平安银行</span><br>
						<span class="bank-card-desc vm">额度高，发卡快，免年费！</span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>
			<li style="display: none;">
				<a data-id="4" data-href="/b/pfyh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/pufa_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">浦发银行</span><br>
						<span class="bank-card-desc vm">您的贴身钱包，资金全额提取！/span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>
			<li>
				<a data-id="5" data-href="/b/jtyh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/jiaotong_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">交通银行</span><br>
						<span class="bank-card-desc vm">在线申请，急速审批，快至当天审核</span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>
			<li onclick="statistics(6,'兴业银行');">
				<a data-id="6" data-href="/b/xyyh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/xingye_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">兴业银行</span><br>
						<span class="bank-card-desc vm">在线急速申请,快至5分钟审核.成功即免首年年费</span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>
			<li>
				<a data-id="7" data-href="/b/hqyh.html">
					<div class="bank-card-tag">推荐</div>
					<img class="bank-ico vm" src="./images/index_cards/huaqi_bank_ico.png">
					<span class="bank-card-info vm">
						<span class="bank-card-name">花旗银行</span><br>
						<span class="bank-card-desc vm">0费用，极速审核，快至1天下卡</span>
						<img class="recommend-ico vm" src="./images/index_cards/recommend_ico.png">
					</span>	
				</a>	
			</li>			 -->
		</ul>
	</div>
	<script type="text/javascript" src="__PUBLIC__/kashu/js/jquery-1.7.2.js"></script>
	<script type="text/javascript">
		$(function(){
			var banks = ['光大银行','平安银行','浦发银行','交通银行','兴业银行','花期银行'];
			statistics(1, '卡树首屏');
			$('.card-list a').click(function(evt){
				var evt = evt || window.event;
				evt.stopPropagation();
				var type_id = parseInt($(this).data('id'));
				var bank_name = banks[type_id-2];
				statistics(type_id, bank_name);
				window.location.href = $(this).data('href');
			});
			function statistics(type_id, name){
				//alert('sdsd');
				$.ajax({
					url: 'http://www.xiaoshushidai.com/ajax-kashu_statistics',
					data: {
						type_id: type_id,
						name: name
					},
					type: 'post',
					dataType: 'json',
					success: function(ret){
						console.log(ret);
					},
					failed: function(err){

					}
				});
			}


		});
	</script>
<!-- 	百度统计代码开始 -->
	<script type="text/javascript">
	
	var _hmt = _hmt || [];
	(function() {
  	var hm = document.createElement("script");
 	 hm.src = "https://hm.baidu.com/hm.js?b748ef0388ead2cc1ea591f143b7ac5e";
 	 var s = document.getElementsByTagName("script")[0]; 
  	s.parentNode.insertBefore(hm, s);
	})();
	</script>
<!-- 	百度统计代码结束 -->
</body>
</html>
