

{extend name="public/base" /}

<!-- 子导航 -->
{block name="sidebar"}
    {include file="index/sidemenu" /}
{/block}

{block name="body"}
    <div class="wait"> 
        <div class="wait_title">今日数据统计</div>
        <div class="wait_con">
            <a href="">
                <span> {$todayMember}</span>
                <i>新增用户会员</i>
            </a>
        </div>

        <div class="wait_con">
            <a href="">
                <span> {$todayMerchant} </span>
                <i>新增合作机构</i>
            </a>
        </div>

        <div class="wait_con">
            <a href="">
                <span> {$todayPart}</span>
                <i>新增业务合伙人</i>
            </a>
        </div>


        <div class="wait_title">总数据统计</div>
        <div class="wait_con">
            <a href="">
                <span> {$totalMember} </span>
                <i>用户会员总数</i>
            </a>
        </div>

        <div class="wait_con">
            <a href="">
                <span> {$totalMerchant} </span>
                <i>合作机构总数</i>
            </a>
        </div>

        <div class="wait_con">
            <a href="">
                <span> {$totalPart} </span>
                <i>总业务合伙人</i>
            </a>
        </div>

    </div>
{/block}


 
