{extend name="base/common"/}
{block name="body"}
<div class="agreementPage">
    <h3 class="ti">小树Golds资料授权及免责协议</h3>

    <p>广州小树网络科技有限公司（以下简称“小树公司”）是小树golds平台（www.xsgolds.com）的合法经营主体，可为用户提供借款信息发布、网络借贷平台推荐、借款主体信息推送等服务。
        为更好地向用户提供以上服务，明确相关主体的权利义务，小树公司特与用户订立本《小树Golds资料授权及免责协议》，以资共同遵守。</p>

    <p>第1条 网络用户申请注册小树golds平台用户账号，应按照平台的相关政策、规则如实、全面地填写个人信息。注册用户账号成功后，在个人信息发生重大变化时，用户应及时、准确地更新注册信息，使之符合用户当前的客观真实情况。如果用户选择“推送给网络借贷平台”服务，用户应如实、全面填写借款项目信息。
        小树golds平台不对用户填写的任何信息的真实性负责，因用户填写的信息不真实而引起的任何问题或产生不利后果的，由用户自行解决或承担。</p>

    <p>第2条 用户通过小树golds平台所展示／推荐的网络借贷平台在小树golds平台页面的链接通道跳转至该等网络借贷平台页面的，小树golds平台不对用户点击链接后跳转的页面及其内容的真实性、合法性负责，也不对该等网络借贷平台的经营行为承担任何连带责任。
        用户应自行判断网络借贷平台页面内容的真实性、合法性，并自行解决在网络借贷服务过程中与网络借贷平台、出借人等产生的纠纷。</p>

    <p>第3条 用户在此不可撤销地授权小树公司及小树golds平台，如果用户选择在小树golds平台所展示／推荐的网络借贷平台上申请借款，小树公司及小树golds平台有权将用户提供的注册信息（包括但不限于姓名、身份证件图片、财产状况、信用记录等）完整提供给该网络借贷平台。
        用户同意上述行为不构成小树公司及小树golds平台侵犯用户个人身份信息的违法行为。</p>

    <p>第4条 用户在此不可撤销地授权小树公司及小树golds平台，如果用户选择“推送给网络借贷平台”服务，小树公司及小树golds平台有权将用户提供的注册信息（包括但不限于姓名、身份证件图片、财产状况、信用记录等）和借款项目信息完整提供给该网络借贷平台。
        用户同意上述行为不构成小树公司及小树golds平台侵犯用户个人身份信息的违法行为。</p>

    <p>第5条 小树公司及小树golds平台承诺将对用户在小树golds平台填写的任何信息承担保密义务，并仅在用户授权范围内、按照本协议第3条和第4条的规定推送用户信息，但不对接收用户信息的网络借贷平台是否对用户信息履行保密义务作任何保证。
        在该等网络借贷平台发生泄露用户信息的事件时，小树公司承诺将采取一切合理的努力防止用户信息进一步泄露，切实保护用户隐私。</p>

    <p>第6条 用户不得将其小树golds平台帐号提供给他人使用，否则由此产生的一切责任由用户自行承担。如果用户发现其帐号遭他人非法使用，应立即通知小树公司或小树golds平台；
        因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，小树公司及小树golds平台不承担任何责任。</p>

    <p>第7条 用户在使用小树golds平台服务过程中，小树golds平台会对用户信息（包括但不限于用户的借款记录、逾期记录、信用情况等）进行收集，并承诺仅将该等信息用于改进为用户提供的服务。
        用户在此明确同意小树golds平台对用户信息进行收集。</p>
    <br>

    <p>我已仔细阅读《小树Golds资料授权及免责协议》全部条款，并同意接受本协议的规定。</p>
</div>
{/block}