<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>业务介绍</title>
    <link href="__PUBLIC__/home/css/xsgolds-pc.css" rel="stylesheet" />
</head>

<body>
<div class="nav-con">
    <div class="nav-top">
        <img class="x_s" src="__PUBLIC__/home/images/xs-log.png">
        <div class="xs_ul">
            <ul>
                <li style="margin-right: 25px;">
                    <a class="nav-active" href="{:url('accurate')}">业务介绍</a>
                </li>
                <li style="margin-right: 25px;">
                    <a href="{:url('company')}">公司简介</a>
                </li>
                <li>
                    <a href="{:url('contact')}">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="business-img">
    <img src="__PUBLIC__/home/images/yewujieslogo.png">
</div>

<div class="dk-gundong">
    <div class="dk-list">
        <img src="__PUBLIC__/home/images/listlogo.png">
        <div class="gk-list" id="gklist">
            <li>恭喜张先生，手机号为187****2530，成功申请贷款50000元</li>
            <li>恭喜王先生，手机号为187****2530，成功申请贷款50000元</li>
            <li>恭喜李先生，手机号为187****2530，成功申请贷款50000元</li>
            <li>恭喜柳先生，手机号为187****2530，成功申请贷款50000元</li>
            <li>恭喜牢先生，手机号为187****2530，成功申请贷款50000元</li>
        </div>
    </div>
</div>

<div class="dk-flow">
    <div class="flow-top">
        <span>贷款申请流程</span>
        <span>Application Process</span>
    </div>
    <div class="flow-con">
        <div class="con-file">
            <img src="__PUBLIC__/home/images/tianxie.png">
            <span>1.填写联系方式</span>
        </div>
        <div class="con-file">
            <img class="con-yd" src="__PUBLIC__/home/images/zhiying.png">
        </div>
        <div class="con-file">
            <img src="__PUBLIC__/home/images/kefu.png">
            <span>2.小树客服联系您</span>
        </div>
        <div class="con-file">
            <img class="con-yd" src="__PUBLIC__/home/images/zhiying.png">
        </div>
        <div class="con-file">
            <img src="__PUBLIC__/home/images/tijiao.png">
            <span>3.提交资料获取贷款</span>
        </div>
    </div>
    <div class="flow-btm">
        <span>贷款专线：400-621-0810</span>
        <span>（上午 8:00 - 下午 21:00，周末无休）</span>
    </div>
</div>

<div class="dk-prerequisite">
    <div class="dk-prerequisitebox">
        <div class="flow-top">
            <span>贷款申请条件</span>
            <span>Application Requirement</span>
        </div>
        <div class="flow-con">
            <div class="con-file2">
                <img src="__PUBLIC__/home/images/shengfengzheng.png">
                <span>1.拥有二代身份证的中国公民</span>
            </div>
            <div class="con-file2">
                <img src="__PUBLIC__/home/images/usern.png">
                <span>2.年龄23周岁（含）-55周岁(含)</span>
            </div>
            <div class="con-file2">
                <img src="__PUBLIC__/home/images/daohang.png">
                <span>3.工作关系，房产，户籍关系所在地任一在小树机构所在地</span>
            </div>
            <div class="con-file2">
                <img src="__PUBLIC__/home/images/xingyong.png">
                <span>4.信用记录良好</span>
            </div>
        </div>
    </div>
</div>

<div class="scanning-xs">
    <div class="scanning-left">
        <img src="__PUBLIC__/home/images/erweima.png">
    </div>
    <div class="scanning-right">
        <img src="__PUBLIC__/home/images/kmk.png">
        <div class="scanning-gz">
            <div class="gz-over">关注官方微信<br>体验三大优势</div>
            <div class="scanning-gzimg">
                <img src="__PUBLIC__/home/images/haozhu.png">
                <span>加速放款服务</span>
            </div>
            <div class="scanning-gzimg">
                <img src="__PUBLIC__/home/images/shouji.png">
                <span>微信24小时服务</span>
            </div>
            <div class="scanning-gzimg">
                <img src="__PUBLIC__/home/images/zhuangshu.png">
                <span>获取专属贷款专员</span>
            </div>
        </div>
    </div>
</div>

<div class="choice-xs">
    <div class="choice-top">
        <span>为什么选择小树?</span>
        <span>The Reason To Choose XiaoShu</span>
    </div>
    <div class="choice-btm">
        <div class="choice-fore">
            <img src="__PUBLIC__/home/images/duobianxing.png">
            <span class="font-f">服务</span>
            <div class="font-over">一站式服务<br>一次服务即<br>可获得贷款</div>
        </div>
        <div class="choice-fore">
            <img src="__PUBLIC__/home/images/duobianxing.png">
            <span class="font-f">特色</span>
            <div>网电移，多平台 全自动，定制化在线帮助</div>
        </div>
        <div class="choice-fore">
            <img src="__PUBLIC__/home/images/duobianxing.png">
            <span class="font-f">保障</span>
            <div>国家资格认，大品牌，无抵押，零担保</div>
        </div>
        <div class="choice-fore">
            <img src="__PUBLIC__/home/images/duobianxing.png">
            <span class="font-f">优势</span>
            <div>额度高，门槛低 月收入大于4千，即可申请50万以上贷款</div>
        </div>
    </div>

</div>

<div class="nav-foot">
    <div class="nav-foot_t">
        <div class="nav-foot_t2">
            <ul>
                <li>
                    <a class="a_active" href="#">新手引导</a>
                </li>
                <li>
                    <a href="#">免费注册</a>
                </li>
                <li>
                    <a href="#">一键登入</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">贷款详情</a>
                </li>
                <li>
                    <a href="#">多种套餐</a>
                </li>
                <li>
                    <a href="#">详情文本</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">个人投资</a>
                </li>
                <li>
                    <a href="#">选择我们</a>
                </li>
                <li>
                    <a href="#">行业资讯</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">智能服务</a>
                </li>
                <li>
                    <a href="#">线上申请</a>
                </li>
                <li>
                    <a href="#">微信绑定</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">关于我们</a>
                </li>
                <li>
                    <a href="#">小树简介</a>
                </li>
                <li>
                    <a href="#">小树动态</a>
                </li>
            </ul>
        </div>
        <div class="font-f">
            <!--<span>深圳市前海深港合作区临海大道59号海运中心主塔楼1118号</span>-->
            <span>广东省广州市天河区五山路金慧街88号自编9栋1层101室</span><br/>
            <!--<span>东莞市莞城街道汇峰中心E区6楼</span>-->
        </div>
    </div>
    <div class="nav-foot_b">
        <div class="nav-foot_b2">© Copyright Xiao Shu 2017.All Right Reserved.</div>
    </div>
</div>

</body>
<script src="__PUBLIC__/home/js/index.js"></script>
<script>
    /***上下滚动****/
    var oMarquee = document.getElementById("gklist"); //滚动对象
    var iLineHeight = 50; //单行高度，像素
    var iLineCount = 5; //实际行数
    var iScrollAmount = 2; //每次滚动高度，像素
    function run() {
        oMarquee.scrollTop += iScrollAmount;
        if(oMarquee.scrollTop == iLineCount * iLineHeight) oMarquee.scrollTop = 0;
        if(oMarquee.scrollTop % iLineHeight == 0) {
            window.setTimeout("run()", 5000);
        } else {
            window.setTimeout("run()", 10);
        }
    }
    oMarquee.innerHTML += oMarquee.innerHTML;
    window.setTimeout("run()", 5000);
</script>

</html>