<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <link href="__PUBLIC__/home/css/xsgolds-pc.css" rel="stylesheet" />
</head>

<body>
<div class="nav-con">
    <div class="nav-top">
        <img class="x_s" src="__PUBLIC__/home/images/xs-log.png">
        <div class="xs_ul">
            <ul>
                <li style="margin-right: 25px;">
                    <a href="{:url('accurate')}">业务介绍</a>
                </li>
                <li style="margin-right: 25px;">
                    <a href="{:url('company')}">公司简介</a>
                </li>
                <li>
                    <a class="nav-active" href="{:url('contact')}">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="company_img">
    <img src="__PUBLIC__/home/images/about.png">
</div>

<div class="company_profile">
    <div class="company_top">
        <span>联系我们</span>
        <span>Contact Us</span>
    </div>
    <div class="company_btm">
				<span>
				小树科技是一家集金融服务、咨询服务、软件开发网络运营、网络推广于一身的现代网络
				科技公司。公司拥有国内一流的金融人才和IT人才队伍，专业的强劲的知识能力，有力地保障集团业务发展需要，
				为集团发展提供强大的网络工具与手段，为投资理财人士和平台客户提供高效、安全、便捷的互联网服务
				</span>
    </div>
</div>

<div class="contact-us">
    <span>公司名称：广州小树网络科技有限公司</span>
    <span>联系人：赖小姐</span>
    <span>公司电话：020-29827066</span>
    <span>商务邮箱：LYY@XIAOSHUSHIDAI.CN</span>
    <span>地址：广东省广州市天河区五山路金慧街88号自编9栋1层101室</span>
</div>

<div class="nav-foot">
    <div class="nav-foot_t">
        <div class="nav-foot_t2">
            <ul>
                <li>
                    <a class="a_active" href="#">新手引导</a>
                </li>
                <li>
                    <a href="#">免费注册</a>
                </li>
                <li>
                    <a href="#">一键登入</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">贷款详情</a>
                </li>
                <li>
                    <a href="#">多种套餐</a>
                </li>
                <li>
                    <a href="#">详情文本</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">个人投资</a>
                </li>
                <li>
                    <a href="#">选择我们</a>
                </li>
                <li>
                    <a href="#">行业资讯</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">智能服务</a>
                </li>
                <li>
                    <a href="#">线上申请</a>
                </li>
                <li>
                    <a href="#">微信绑定</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="a_active" href="#">关于我们</a>
                </li>
                <li>
                    <a href="#">小树简介</a>
                </li>
                <li>
                    <a href="#">小树动态</a>
                </li>
            </ul>
        </div>
        <div class="font-f">
            <span>深圳市前海深港合作区临海大道59号海运中心主塔楼1118号</span>
            <span>广东省广州市天河区五山路金慧街88号自编9栋1层101室</span><br/>
            <span>东莞市莞城街道汇峰中心E区6楼</span>
        </div>
    </div>
    <div class="nav-foot_b">
        <div class="nav-foot_b2">© Copyright Xiao Shu 2017.All Right Reserved.</div>
    </div>
</div>
</body>

</html>