/** 
 * Ã¦ÂÂÃ¨Â¿Â°Ã¯Â¼Å¡Ã©â€¡ÂÃ§Â½Â®Ã©Â¡ÂµÃ©ÂÂ¢Ã¥â€¦Æ’Ã§Â´Â Ã¥Â¹Â¶Ã¥Å¸ÂºÃ§Â¡â‚¬Ã¦Â Â·Ã¥Â¼Â
 * Ã¤Â½Å“Ã§â€Â¨Ã¨Å’Æ’Ã¥â€ºÂ´Ã¯Â¼Å¡ Ã¥â€¦Â¨Ã¥Â±â‚¬
 */

html,body {
	font: 14px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
	color:#404040;
}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,			
dl,dt,dd,ul,ol,li,			
form,select,input,textarea,button,		
table,caption,tr,th,td {
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	border:0 none;
}
a {
	color: #2d7200;
	text-decoration:none;
}
a:hover{
	color: #4bbd00;
	border-bottom: 1px solid;
}
input,button,textarea,select,option {
	font-family:inherit;
	font-size:100%;	
	outline: 0;
}
textarea {
	overflow: auto;
	resize: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.table{border-collapse: inherit;border-spacing: inherit;background: #8e7777;width:100%;border:none;}
.table tr{padding: 1px;line-height:30px;ba;background:#fff;}
.table tr td{ padding:2px 5px; }

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

/* Ã¥Â¸Æ’Ã¥Â±â‚¬Ã¦Â Â·Ã¥Â¼Â */
.cf,.nav,.container-span {
	*
	zoom: 1;
	overflow: hidden;
}
.cf:before, .cf:after,
.nav:before, .nav:after,
.container-span:before,
.container-span:after {
	/* display: table; */
	/* content: ""; */
}
.cf:after,.nav:after,
.container-span:after {
	clear: both;
}
.fl{
	float: left!important;
}
.fr{
	float: right!important;
}
.fz12{font-size:12px;}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.hidden {
	display: none;
}
.block {
	display: block!important;
}
.fixed{
    position: fixed!important;
}
.container-span [class^="span"] {
	margin: 0 1% 20px;
}
.container-span .span1,
.container-span .span2,
.container-span .span3,
.container-span .span4 {
    float: left;
}
.container-span .span1 {
    width: 23%;
}
.container-span .span2 {
    width: 48%;
}
.container-span .span4 {
    width: 98%;
}

/* Ã¦Å½â€™Ã§â€°Ë†Ã¦Â Â·Ã¥Â¼Â */
.text-center{
	text-align: center!important;
}

.text-right{
	text-align: right!important;
}

.text-left{
	text-align: left!important;
}

/* Ã¥Â¯Â¼Ã¨Ë†ÂªÃ¥Ë†â€”Ã¨Â¡Â¨ */
.nav li {
	float: left;
}
.nav li a,
.nav li a:hover,
.nav-list li a,
.nav-list li a:hover {
	display: block;
	text-decoration: none;
	outline: none;
	border-bottom: 0 none;
